<ion-header>
  <div>
    <ion-toolbar>
      <div slot="start" class="animation-container">
        <ion-title class="title-animation">Inicio</ion-title>
      </div>
      <!-- Agrega la imagen aquí -->
      <div slot="end">
        <img src="assets/icon/logo-duoc.png" alt="Logo DUOC" class="image-animation">
      </div>
    </ion-toolbar>
  </div>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ion-padding-vertical"> 
    <!-- Se establece un card que contendra un titulo y un contenido -->
    <ion-card class="ion-text-center ion-padding-vertical">

      <!-- Titulo del card -->
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Sistema de asistencia DUOCUC</h2>
        </ion-label>
      </ion-card-title>

      <!-- Formulario de login -->
      <form>
        <!-- Contenido del card -->
        <ion-card-content>
        
          <!-- Item de correo -->
          <ion-item>
            <!-- Usamos ngModel para indicarle al input que se ligara con la propiedad "usuario.correo" -->
            <ion-input name="correo" label="Correo"  labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>
        
          <!-- Item de contraseña -->
          <ion-item>
            <!-- Usamos ngModel para indicarle al input que se ligara con la propiedad "usuario.password" -->
            <ion-input name="password"  label="Contraseña"  labelPlacement="floating" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>

          <!-- Se debe usar (click) para enlazar con el metodo de la clase en typescript -->
          <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>

        </ion-card-content>
      </form>
    
      <ion-label>
        <ion-button class="Button" fill="clear" (click)="redi_correo()">Recuperar contraseña</ion-button>
      </ion-label>
    </ion-card>
  </div>

</ion-content>

   
